services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  school-management-system:
    user: root
    build:
      context: .
      dockerfile: Dockerfile
    image: school-management-system:latest
    container_name: school-management-system
    depends_on:
      - mysql
    ports:
      - "8080:8080"
      - "8081:8081"
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ConnectionStrings__DefaultConnection: "Server=mysql;Port=3306;Database=${MYSQL_DATABASE};User=${MYSQL_USER};Password=${MYSQL_PASSWORD};"
      Google__ClientId: ${GOOGLE_CLIENT_ID}
      Google__ClientSecret: ${GOOGLE_CLIENT_SECRET}
    restart: unless-stopped
    volumes:
      - data_protection_keys:/app/DataProtection-Keys
volumes:
  mysql_data:
  data_protection_keys:
